  /* 覆盖浏览器默认样式 start
  ........................................................*/
  html{background:#F8F8F9;}
  #app{color:#323436;font-size 14px;}
  body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,img{margin:0;padding:0;}
  table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}
  address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
  del,ins{text-decoration:none;}
  li{list-style:none;}
  caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
  q:before,q:after{content:'';}
  abbr,acronym{border:0;font-variant:normal;}
  sup{vertical-align:baseline;}sub{vertical-align:baseline;}
  legend{color:#000;}
  input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
  input,button,textarea,select{*font-size:100%;}
  /* 覆盖浏览器默认样式 end
  ........................................................*/
  /* 定位 start
  ........................................................*/
  .db{display:block;}
  .di{display:inline;}
  .dn{display:none;}
  .fl{float:left;}
  .fr{float:right;}
  .pr{position:relative;}
  .pa{position:absolute;}
  .posa{ position: absolute; }
  .clearfix:after{ visibility:hidden; display:block; font-size:0; content: " "; clear:both; height:0;}
  .clearboth {clear:both;}
  /* 定位 end
  ........................................................*/
  /* 弹性布局 start
  ........................................................*/
  .df{display:flex;}
  .fdc{flex-direction:column;}
  .ac{align-items:center;}
  .as{align-items:flex-start;}
  .ae{align-items:flex-end;}
  .jc{justify-content:center;}
  .js{justify-content:flex-start;}
  .je{justify-content:flex-end;}
  .jb{justify-content : space-between;}
  .ja{justify-content : space-around;}
  .fs{flex-shrink: 0;}
  .fs1{ flex-shrink: 1;}
  .fww{ flex-wrap: wrap;}
  .bfw{ flex-wrap: wrap; }
  /* 弹性布局 end
  ........................................................*/
  /* 文字相关 start
  ........................................................*/
  .ell{overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
  .tl{text-align: left;}
  .tc{text-align: center;}
  .tr{text-align: right;}
  .wbba{  word-break: break-all;}
  .fwb{font-weight: bold;}
  .fb{ font-weight: bold;}
  /* 文字相关 end
  ........................................................*/
   /* 边框 start
  ........................................................*/
  .b{border:1px solid;}
  .bb{border-bottom:1px solid #dedede;}
  .bbda{border-bottom:1px dashed #dedede;}
  .bt{border-top:1px solid #dedede;}
  .bl{border-left:1px solid #dedede;}
  .br{border-right:1px solid #dedede;}
  .bor_50{border-radius:50%;}
  .circle{border-radius: 50%;}
  /* 边框 end
  ........................................................*/
  /* 其他 start
  ........................................................*/
  .bsbb{box-sizing: border-box;}
  .cb{box-sizing: content-box;}
  .cp{cursor:pointer;}
  .ofxa{ overflow-y: auto;}
  .ofx{ overflow-x:scroll;}
  .ofy{ overflow-x:hide; overflow-y: scroll;}
  .oh{overflow:hidden;}
  /* 其他 end
  ........................................................*/
  /* 循环 start
  ........................................................*/
  for num in (0..1000)
    .bf{num}
      flex: num
    .lh{num}
      line-height: num * 1px
    .m{num}
      margin: num * 1px
    .ml{num}
      margin-left: num * 1px
    .mr{num}
      margin-right: num * 1px
    .mt{num}
      margin-top: num * 1px
    .mb{num}
      margin-bottom: num * 1px
    .p{num}
      padding: num * 1px
    .pl{num}
      padding-left: num * 1px
    .pr{num}
      padding-right: num * 1px
    .pt{num}
      padding-top: num * 1px
    .pb{num}
      padding-bottom: num * 1px
    .h{num}
      height: num * 1px
    .hp{num}
      height: num * 1%
    .hv{num}
      height: num * 1vh
    .w{num}
      width: num * 1px
    .wp{num}
      width: num * 1%
    .wv{num}
      width: num * 1vw
    .br{num}
      border-radius: num * 1px
    .f{num}
      font-size: num * 1px
    .l{num}
      left: num * 1px
    .r{num}
      right: num * 1px
    .t{num}
      top: num * 1px
    .b{num}
      bottom: num * 1px
    .z{num}
      z-index: num
    .brp{num}
      border-radius: num * 1%

  /* 循环 end
  ........................................................*/
  for num in (0..10)
    .opa{num}
      opacity num *10%
